.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-primary);
  padding: 1.1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: red;
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1rem 0 2rem;
}

article p {
  padding-bottom: 0.2rem;
}



@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
  .project{
    height: max-content;
    
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
  .project{
    height: max-content;
    
}
}