.container.contact__container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* *****FORM */

input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 50vw;
  background: transparent;
  border: 2px solid red;
  border-radius: 1rem;
  color: white;
}

textarea {
  background: transparent;
  border: 2px solid red;
  color: white;
  resize: vertical;
}

.btn__contact {
  background: transparent;
  width: max-content;
  padding: 1rem;
  color: var(--color-light);
  border: 1px solid red;
  border-radius: 5px;
  transition: var(--transition);
}
.btn__contact:hover {
  background: var(--color-primary);
}
@media screen and (max-width: 600px) {
  input{
    width: 80vw;
  }
}