.nav {
  position: relative;
}



.nav__position {
  background: #001122;
  width: max-content;
  margin: 1rem 1rem;
  display: block;
  position: fixed;
  padding: 0.7rem 1rem;
  display: flex;
  gap: 3rem;
  border-radius: 3rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  z-index: 1;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 1.2rem;
}
nav a.active {
  color: red;
}
@media screen and (max-width: 600px){
 

    
  
.nav__position{
  margin: 0 auto;
}
}